main{
    margin: 50px 0px 50px 0px;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: right;
}

li{
    margin: 10px;
}

.center{
    margin: 180px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Google{
    margin: 50px;
    height: 100px;
    width: 300px;
}

.form1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#search{
    width: 500px;
}

.bot{
  position: absolute;
  left: 1750px;
  bottom: 50px;
  
}

button{

}
